*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* برای اینکه از ارث بری استفاده کنیم 
   بست پرکتیس این است که باکس سایزینک را در بادی قرار دهیم و در این سلکتور گلوبال اینهریت کنیم  */
  box-sizing: inherit;
}

/* rem همیشه نسبت به فونت سایز روت محاسبه میشود 
 فونت سایز روت به صورت دیفالت 
 16px
 است 
 که دیفالت براوزر است 
 برای اینکه برای ریسپانسیو کردن سایت فقط با تغییر یک متغییر گلوبال این کار را انجام دهیم ار رم استفاده میکنیم و برای راحت تر کردن کار خود فونت سایز روت یعنی 
 html
 را 10 پیکسل قرار میدهیم  */

/* html{
   font-size: 10px;
 } */

/* برای اینکه روی فونت سایز دیفالت یوزر اور رایت نکنیم در روت هم از پیکسل استفاده نمیکنیم 
 دیفالت بروزر 16 پیکسل است 
 پس 10 پیکسل برابر است با 
 62.5 درصد  */

html {
  // این خط یک رم را تعریف میکند
  font-size: 62.5%;
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }
 
}

body {
  /* باکس سایزینک را در بادی میگذاریم و بقیه سلکتور ها را انهریت میکنیم  */
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-land) {
    padding: 0;
  }
}
